<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScheduleInterval" value="1"/>
    <add key="SchedulerType" value="InMinutesScheduler"/>
    <add key="LoggingLevel" value="verbose"/>
    <add key="LoggerType" value="console"/>
    <add key="SyncHost" value="https://demo.odoo.com/start"/>
  </appSettings>
</configuration>